:root {
  --primaryBg: #121317;
  --secondaryBg: #1a1c21;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 24px;
}
body {
  font-family: "Poppins", sans-serif;
}
footer,
nav {
  background-color: var(--secondaryBg);
}
body {
  background-color: var(--primaryBg);
  color: white;
}

main {
  min-height: 100vh;
}

.card {
  background-color: var(--secondaryBg);
  transition: all 150ms ease;
}
.language-card:hover {
  scale: 0.95;
  border: 2px solid #0d6efd;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
.list-group-item {
  background-color: var(--secondaryBg);
  color: white;
}

#hero-img {
  animation: float 3s infinite alternate-reverse ease-in-out;
}

@keyframes float {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
